CREATE SCHEMA ${DATABASE_SCHEMA};

-- ユーザーにスキーマ内のすべてのテーブルに対する権限を付与
GRANT CREATE ON SCHEMA ${DATABASE_SCHEMA} TO ${DATABASE_USERNAME};
GRANT USAGE ON SCHEMA ${DATABASE_SCHEMA} TO ${DATABASE_USERNAME};

-- 既存のテーブルに対する権限を付与
GRANT SELECT, INSERT, UPDATE, DELETE ON ALL TABLES IN SCHEMA ${POSTGRES_DATABASE_SCHEMA} TO ${DATABASE_USERNAME};

-- 将来作成されるテーブルに対する権限を自動的に付与
ALTER DEFAULT PRIVILEGES IN SCHEMA ${POSTGRES_DATABASE_SCHEMA} GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO ${DATABASE_USERNAME};
